{% extends 'crm/base.html' %}
{% block content %}
{% load humanize %}

<head>
    <meta charset="UTF-8">
    <title>MFS Product Delete</title>
</head>
    <h2>Delete this product belonging to {{ product.cust_name }}?</h2>
        <!--Displaying some info for staff to confirm-->
    <div style="margin-top:30px;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Cost</th>
                    <th>Pick Up Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ product.product }}</td>
                    <td>${{ product.charge|floatformat:2|intcomma }}</td>
                    <td>{{ product.pickup_time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form method="post">
        <div class="col-md-4" style="margin-top:0px;">
            {% csrf_token %}
            <div style="margin-top:30px;">
                <a class="btn btn-danger navbar-btn normal-btn-design" style="width:100px; color:white;margin-right:30px;" href="{% url 'crm:product_list' %}">Cancel</a>
                <input class="btn btn-success navbar-btn" style="width:100px; color:white;" type="submit" value="Yes, Delete">
            </div>
        </div>
    </form>
{% endblock %}
